//Define index page specific styling
#index {
  //write everything that applies to the index page inside here
  header {
    width: 100%;
    text-align: center;
    h1 {
      text-align: center;
      font-size: 50px;
    }
    p {
      margin-top: 10px;
    }
  }

  #primary {
    margin-top: 5vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr; /* keeps all grid boxes same height, else remove */
    grid-gap: 50px;

    > div {
      grid-column: span 3;
      border-radius: 10px;
      padding: 0px 30px;
      h2 {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    #tasks {
      .container {
        height: 60vh;
        overflow-y: auto;
        .task {
          padding: 10px;
          margin: 10px 10px 10px 0px;
          border-radius: 10px;
          background: white;
          font-size: 140%;
        }
      }
    }

    #settings {
      > div {
        padding: 10px;
        margin: 10px 10px 10px 0px;
        border-radius: 10px;
        background: white;
        font-size: 140%;
        .jscolor {
          padding: 0px 30px 30px 0px;
          font-size: 30px;
        }
      }
    }
  }
}
